html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#container-wrapper {
  width:1205px;
  height:805px;
  background-color:white;
  border:5px solid #7300ff;
}

.editableContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.editableNode {
  overflow-y:scroll;
  overflow-x: hidden;
  outline: none;
  caret-color: #510ff3;
}

.editableNode::-webkit-scrollbar {
  width: 0 !important
}

.editableNode:empty:before {
  content: attr(data-placeholder);
  color: #929292;
}